// Custom styles.

.blueprintue {
    position: relative;
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .blueprintue {height: 15em;max-width: 40em;}
}
@media blueprintue screen and (min-width: 768px) and (max-width: 991px) {
    .bilibili {height: 20em;max-width: 50em;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blueprintue {height: 30em;max-width: 55em;}
}
@media only screen and (min-width: 1200px) {
    .blueprintue {height: 40em;max-width: 60em;}
}